<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" >

    <display-name>CRUD App</display-name>

    <servlet>
        <servlet-name>crudServlet</servlet-name>
        <servlet-class>com.cherkasov.web.CrudServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>restServlet</servlet-name>
        <servlet-class>com.cherkasov.web.rest.RestServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>crudServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>restServlet</servlet-name>
        <url-pattern>/rest</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>